In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\Dipto\Anaconda33\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)
C:\Users\Dipto\Anaconda33\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\Dipto\Anaconda33\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\Dipto\Anaconda33\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)
C:\Users\Dipto\Anaconda33\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [8]:
import nltk

C:\Users\Dipto\Anaconda33\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\Dipto\Anaconda33\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\Dipto\Anaconda33\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [6]:
df=pd.read_csv("Training Data.csv")

In [7]:
df.head()

,Timestamp,Name,AGE,Gender,State,Studying in,Interests,Knowledge about that field,Achievements,What have you done in that field,technologies known,Courses taken,Expertised/Works with
0,2019/06/21 6:28:08 PM GMT+5:30,Pinku Das,18,Male,Karnataka,Undergraduate,Machine Learning;Automation,Proper knowledge,Red hat certified in ansible,"Udacity course in Machine learning , Training ...","Python, Machine Learning, Ansible, Terafform","Udacity Ml course, Aws cloud computing",Devops engineer
1,2019/06/21 8:10:02 PM GMT+5:30,Saswat,20,Male,West Bengal,Undergraduate,Machine Learning;Data Science,Proper knowledge,"Won Hackathons, Project Selected as in top 10 ...","Interned for machine learning post , worked an...","Machine Learning , Deep Learning , Data Scienc...","Machine learning udacity course, Googles Tenso...",Machine learning engineer
2,2019/06/22 2:05:34 AM GMT+5:30,Bharat,19,Male,Delhi,Undergraduate,Devops;Automation,Proper knowledge,"Docker Community Lead, Best technical idea awa...","Red Hat certified in Ansible, Interned in Devo...","Ansible, puppet, Dockers",Server automation with docker,Devops Engineer
3,2019/06/22 9:30:06 AM GMT+5:30,Shivani,18,Female,NaN,Job,Cloud Computing,Good knowledge,"Aws Certified, Microsoft Certified",Worked in Server Hardening for Cisco,"Aws, Azure,OpenStack",Aws Cloud Computing,Cloud Architect
4,2019/06/22 9:50:02 AM GMT+5:30,Bhrigu Shandilya,20,Male,Rajasthan,Undergraduate,Devops;Automation;Cloud Computing,Bare minimum,"RHCSA, RHcoE Ansible",NaN,"Docker, Ansible, Hadoop, ML,",NaN,Student

In [9]:
df.shape

(19, 13)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 13 columns):
Timestamp                           19 non-null object
Name                                19 non-null object
AGE                                 19 non-null int64
Gender                              19 non-null object
State                               18 non-null object
Studying in                         19 non-null object
Interests                           19 non-null object
Knowledge about that field          19 non-null object
Achievements                        19 non-null object
What have you done in that field    18 non-null object
technologies known                  18 non-null object
Courses taken                       15 non-null object
Expertised/Works with               19 non-null object
dtypes: int64(1), object(12)
memory usage: 2.0+ KB

In [11]:
df.isnull().sum()

Timestamp                           0
Name                                0
AGE                                 0
Gender                              0
State                               1
Studying in                         0
Interests                           0
Knowledge about that field          0
Achievements                        0
What have you done in that field    1
technologies known                  1
Courses taken                       4
Expertised/Works with               0
dtype: int64

In [12]:
know_mapping={"Very less":1,"Bare minimum":2,"Proper knowledge":3,"Good knowledge":4}
df["rating"]=df["Knowledge about that field"].map(know_mapping)

In [21]:
df.drop('Timestamp',axis=1,inplace=True)

In [22]:
df.columns

Index(['Name', 'AGE', 'Gender', 'State', 'Studying in', 'Interests',
       'Knowledge about that field', 'Achievements',
       'What have you done in that field', 'technologies known',
       'Courses taken', 'Expertised/Works with', 'rating'],
      dtype='object')

In [14]:
df.head()

,Timestamp,Name,AGE,Gender,State,Studying in,Interests,Knowledge about that field,Achievements,What have you done in that field,technologies known,Courses taken,Expertised/Works with,rating
0,2019/06/21 6:28:08 PM GMT+5:30,Pinku Das,18,Male,Karnataka,Undergraduate,Machine Learning;Automation,Proper knowledge,Red hat certified in ansible,"Udacity course in Machine learning , Training ...","Python, Machine Learning, Ansible, Terafform","Udacity Ml course, Aws cloud computing",Devops engineer,3
1,2019/06/21 8:10:02 PM GMT+5:30,Saswat,20,Male,West Bengal,Undergraduate,Machine Learning;Data Science,Proper knowledge,"Won Hackathons, Project Selected as in top 10 ...","Interned for machine learning post , worked an...","Machine Learning , Deep Learning , Data Scienc...","Machine learning udacity course, Googles Tenso...",Machine learning engineer,3
2,2019/06/22 2:05:34 AM GMT+5:30,Bharat,19,Male,Delhi,Undergraduate,Devops;Automation,Proper knowledge,"Docker Community Lead, Best technical idea awa...","Red Hat certified in Ansible, Interned in Devo...","Ansible, puppet, Dockers",Server automation with docker,Devops Engineer,3
3,2019/06/22 9:30:06 AM GMT+5:30,Shivani,18,Female,NaN,Job,Cloud Computing,Good knowledge,"Aws Certified, Microsoft Certified",Worked in Server Hardening for Cisco,"Aws, Azure,OpenStack",Aws Cloud Computing,Cloud Architect,4
4,2019/06/22 9:50:02 AM GMT+5:30,Bhrigu Shandilya,20,Male,Rajasthan,Undergraduate,Devops;Automation;Cloud Computing,Bare minimum,"RHCSA, RHcoE Ansible",NaN,"Docker, Ansible, Hadoop, ML,",NaN,Student,2

In [26]:
def recommendations(field):
    names=[]
    fields=field.split(",")
    if "Machine Learning" in fields:
        recommend=df[df["Expertised/Works with"]=="Machine learning engineer"]
    #elif ("Devops" ,"Automation") in fields:
    elif ("Devops" ,"Automation") in fields:
        recommend=df[df["Expertised/Works with"]=="Devops Engineer"]
    return recommend

In [27]:
print(recommendations("Devops"))

UnboundLocalError: local variable 'recommend' referenced before assignment